body {
    background-color: rgb(192, 180, 180);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.section {
    padding: 20px;
}

.calendar-container {
    width: 100%;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 20px gray;
    border-radius: 10px;
    margin: 20px auto;
    overflow: hidden;
}

.calendar-header {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-header h1 {
    font-size: 24px;
    margin: 0;
}

.calendar-header p {
    font-size: 16px;
    margin: 5px 0 0;
    color: gray;
    font-weight: bold;
}

.calendar-header button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #007BFF;
    padding: 0 15px;
    transition: color 0.3s;
}

.calendar-header button:hover {
    color: #0056b3;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
    border-collapse: collapse;
}

.day-name {
    font-size: 14px;
    text-transform: uppercase;
    color: gray;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    border-bottom: 1px solid gray;
    padding: 10px 0;
    background-color: #190f0f;
    display: grid;
    
}

.day {
    position: relative;
    text-align: right;
    padding: 10px;
    border-bottom: 3px solid rgb(68, 66, 66);
    border-right: 3px solid rgb(63, 61, 61);
    font-size: 18px;
    color: gray;
    width: 210px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: rgb(148, 71, 71);
   
}

.day:last-child {
    border-right: none;
}

.day.disabled {
    color: #c5c3c3;
    background-color: #f9f9f9;
}

.day-number {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-start;
}

.event {
    background-color: #e6f7ff;
    border: 1px solid #b3e5fc;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    text-align: left;
    font-size: 12px;
    color: #007BFF;
    width: 100%;
    box-sizing: border-box;
}
#days {

    display: grid;
   
    grid-template-columns: repeat(7, 1fr); /* 7 columnas para los días de la semana */
    grid-gap: 1px; /* Espacio entre los elementos de la cuadrícula */
}
